<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Mark Rybarczyk</h1>
				</div>
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/headerwrap -->
	
	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<%= image_tag 'mark_anabel_arches1.jpg', class: "img-responsive" %>
					<p>Mark Rybarczyk</p>
					<div class="name-label"></div>
				</div><!--/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2>	ENTREPRENEUR <br/> STARTUP GUY <br/>RAILS DEVELOPER <br/> <!-- FINANCIAL --> </h2>
					
					<div class="col-md-6">
						<p>First and foremost, I am an entrepreneur. I created my first two companies from scratch, both in the financial services sector, which I operated over a period of 15 years. </p>
						<p>I've always been proud of my perseverance to overcome obstacles thrown my way in both business and in life. </p>
						<p>Passionate about all things tech related and web related I have been living the startup life for the past six years. 
						</p>
					</div>
					<div class="col-md-6">
						
						<p>My frustration with outsourced developers was the inspiration I needed to teach myself web development and I have completely re-built my own site Vuier in Ruby on Rails along with my Co-Founder/CTO.
						</p>
						<p>In my spare time you can find me on the ice hockey rink, skiing, exercising or spending time with my wife and 3 beautiful girls.</p>
						<p><a class="twitter-follow-button"
							  href="https://twitter.com/markrybarczyk"
							  data-show-count="true"
							  data-lang="en">
							Follow @MarkRybarczyk
							</a>
							<script type="text/javascript">
							window.twttr = (function (d, s, id) {
							  var t, js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src= "https://platform.twitter.com/widgets.js";
							  fjs.parentNode.insertBefore(js, fjs);
							  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
							}(document, "script", "twitter-wjs"));
							</script>
						</p>
						<p>Connect with me on LinkedIn <%= link_to image_tag('linkedin.png', class: 'img-responsive'), 'https://www.linkedin.com/in/markrybarczyk', alt: "Mark Rybarczyk", target: "_blank" %>
						</p>
						<!-- <p> Follow me @MarkRybarczyk</p> -->
					</div>
					
				</div><!--/col-lg-8-->
		
			</div><!-- /row -->
		</div><!-- /container -->
	</div> <!-- /aboutwrap
	
	<!-- ABOUT SEPARATOR -->
	
	<!-- PORTFOLIO SECTION -->
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row row-centered">
			<!-- <div class="row"> -->
				<h1>SOME OF MY LATEST WORKS</h1>
					<div class="col-xs-4 col-centered"><%= link_to image_tag('vuier.png', class: 'img-responsive'), 'https://vuier.com/', alt: "Vuier" %><h4><%= link_to "Vuier.com", "vuier.com" %></h4></div>
	        <div class="col-xs-4 col-centered"><%= link_to image_tag('graybox.png', class: 'img-responsive'), 'http://graybox.herokuapp.com/', alt: "Graybox" %><h4><%= link_to "GrayBox", "graybox.herokuapp.com" %></h4></div>
	        <div class="col-xs-4 col-centered"><%= link_to image_tag('dt_image.png', class: 'img-responsive'), 'http://www.thediscounttherapist.com/', alt: "Discount Therapist Episode 3" %><h4><%= link_to "Discount Therapist", "www.thediscounttherapist.com" %></h4></div>
							
				<!-- </div> -->
			</div><!-- video-inline --><!-- /row -->
		</div><!--/container -->
	</div>
	</div><!--/Portfoliowrap -->
	<div class="container">
		<!-- <h3>Download my <strong> --><%#link_to "resume", "https://s3.amazonaws.com/Mark_Test_Bucket/MarkRybarczykResume.pdf", target: "_blank", class: "btn btn-primary" %><!-- </strong> 
		</h3>  -->
		
	</div>
	<!-- CONTACT SEPARATOR -->
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/classie.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/smoothscroll.js"></script>
	<script src="assets/js/jquery.stellar.min.js"></script>
	<script src="assets/js/fancybox/jquery.fancybox.js"></script>    
	<script src="assets/js/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>

