		<div id="movember">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h1>Support the Men of Movember</h1>
					</div>
				</div>
			</div> 
		</div><!--/movember --> 

		<div class="container">
			<h1>The Men of Movember</h1>
			<div class="row">
			  <div class="col-md-offset-1 col-md-10">
			    <div class="panel panel-default center">
			      <div class="panel-body">
			      	<div class="youtube">
			      		<div class="flex-video widescreen">
									<iframe width="913" height="510" src="https://vuier.com/v/the-men-of-movember-4d5e2d81-038b-4a57-a6aa-d124780eea18?embed=true" frameborder="0" allowfullscreen></iframe><br />
								</div>
								<h4 class="centered">We sacrificed one month of our lives to grow a moustache in support of Movember. Please support the men of Vuier and Walnut St Labs in our efforts with a generous donation of which 100% of all revenues will be donated to Movember. Your support is greatly appreciated and we promise that you will be thoroughly entertained in less than six minutes!</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<section id="portfolio" name="portfolio"></section>
		<div id="portfoliowrap">
			<div class="container">
				<div class="row row-centered">
					<h1>SELECT YOUR LEVEL OF SUPPORT</h1>
						<div class="col-xs-4 col-centered"><%= link_to image_tag('MovemberThumbnail.png', class: 'img-responsive'), "https://vuier.com/v/the-men-of-movember", alt: "Men of Movember" %><h4><%= link_to "Support for 99 cents", "https://vuier.com/v/the-men-of-movember" %></h4></div>
		        <div class="col-xs-4 col-centered"><%= link_to image_tag('movember2.png', class: 'img-responsive'), "https://vuier.com/v/the-men-of-movember-40cd6c0e-26f8-43c5-9c66-a20164f5f0eb", alt: "Men of Movember" %><h4><%= link_to "Support for $9.99", "https://vuier.com/v/the-men-of-movember-40cd6c0e-26f8-43c5-9c66-a20164f5f0eb" %></h4></div>
		        <div class="col-xs-4 col-centered"><%= link_to image_tag('MovemberThumbnail.png', class: 'img-responsive'), "https://vuier.com/v/the-men-of-movember-4d5e2d81-038b-4a57-a6aa-d124780eea18", alt: "Men of Movember" %><h4><%= link_to "Support for $24.99", "https://vuier.com/v/the-men-of-movember-4d5e2d81-038b-4a57-a6aa-d124780eea18" %></h4></div>
		      </div>
		      <div class="row row-centered">
		        <div class="col-xs-4 col-centered"><%= link_to image_tag('movember2.png', class: 'img-responsive'), "https://vuier.com/v/the-men-of-movember-3cf5b0b1-3928-4a35-8fb3-5b6087dd89e6", alt: "Men of Movember" %><h4><%= link_to "Support for $49.99", "https://vuier.com/v/the-men-of-movember-3cf5b0b1-3928-4a35-8fb3-5b6087dd89e6" %></h4></div>
		        <div class="col-xs-4 col-centered"><%= link_to image_tag('MovemberThumbnail.png', class: 'img-responsive'), "https://vuier.com/v/the-men-of-movember-b05bf5a7-399c-47b7-8941-07537a3e9f00", alt: "Men of Movember" %><h4><%= link_to "Support for $74.99", "https://vuier.com/v/the-men-of-movember-b05bf5a7-399c-47b7-8941-07537a3e9f00" %></h4></div>
		        <div class="col-xs-4 col-centered"><%= link_to image_tag('movember2.png', class: 'img-responsive'), "https://vuier.com/v/the-men-of-movember-4b38b4ab-60b9-4aae-9108-32d995a648aa", alt: "Men of Movember" %><h4><%= link_to "Support for $99.99", "https://vuier.com/v/the-men-of-movember-4b38b4ab-60b9-4aae-9108-32d995a648aa" %></h4></div>
								
					<!-- </div> -->
				</div><!-- video-inline --><!-- /row -->
			</div><!--/container -->
		</div>
		